.navbar-brand1{

    margin-right: 75px;
    padding: 20px;
    border-radius: 5px;
}

.navbar-brand2{

    margin-right: 75px;
    padding: 20px;
    border-radius: 5px;
}

.navbar-brand3{

    margin-right: 75px;
    padding: 20px;
    border-radius: 5px;
}

.navbar-brand4{

    margin-right: 75px;
    padding: 20px;
    border-radius: 5px;
}

.navbar-brand5{

    margin-right: 75px;
    padding: 20px;
    border-radius: 5px;
}