{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

    <h1>Lista de Profesores</h1>


    <ul>
        
        {% for jugador  in jugadores %}
            <li>
                {{jugador}}
            </li>
            <div>
                <form action="{% url "EliminaJugador" jugador.id  %}" method="POST">{% csrf_token %}
                 <button type="submit"> Eliminar </button>
                 </form>
                 <button>
                    <a href="{% url "EditarJugador" jugador.id  %}">Editar</a>
                 </button>
            </div>
        {% endfor %}
            
    </ul>

{% endblock contenidoQueCambia %}